#activity-list .name {
    font-size: 1.1rem;
    font-weight: 400;
}


#activity-list i {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.5rem;

}

.cursor-pointer {
    cursor: pointer;

}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}
